{% load static %}
<footer class="footer-section section bg-image" data-bg="assets/images/bg/footer-bg.jpg">

    <!--Footer Top start-->
    <div class="footer-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-85 pb-lg-65 pb-md-60 pb-sm-50 pb-xs-40">
        <div class="container">
            <div class="row">

                <!--Footer Widget start-->
                <div class="footer-widget col-lg-4 col-md-6 col-sm-6 col-12 mb-30">
                    <div class="footer-logo">
                        <a href="/"><img src="{% static 'image/SUPERDOORLOGO_.svg' %}" alt=""></a>
                    </div>
                    <p> Our mission is to provide the best renovation service at an reasonable price without
                        sacrificing quality. You will be satisfy with our work knowing we take the necessary steps
                        to meet your needs and get the job done right</p>
                </div>
                <!--Footer Widget end-->

                <!--Footer Widget start-->
                <div class="footer-widget col-lg-4 col-md-6 col-sm-6 col-12 mb-30">
                    <h4 class="title"><span class="text">Office</span></h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i><span> 58B Morison Crescent, Oregun Lagos, Nigeria</span>
                        </li>
                        <li><i class="fa fa-phone"></i><span><a href="#"> (+234) 809 - 0525 - 281</a></span></li>
                        <li><i class="fa fa-envelope-o"></i><span><a href="#">sales@superdoor.ng</a></span></li>
                        <li><i class="fa fa-clock-o"></i><span><a href="#"> Mon - Sat: 8:00am - 5:00pm</a></span></li>
                    </ul>
                </div>
                <!--Footer Widget end-->

                <!--Footer Widget start-->
                <div class="footer-widget col-lg-4 col-md-6 col-sm-6 col-12 mb-30">
                    <h4 class="title"><span class="text">Newsletter</span></h4>
                    <p>Subscribe our newsletter and get all latest news about our latest properties, promotions,
                        offers and discount</p>
                    <form id="mc-form" class="mc-form footer-newsletter">
                        <input id="mc-email" type="email" autocomplete="off" placeholder="Email Here.."/>
                        <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts text-centre">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div><!-- mailchimp-alerts end -->
                </div>
                <!--Footer Widget end-->


            </div>
        </div>
        <div class="social-menu-right">
            <ul class="social-menu-bottom">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
        </div>
    </div>
    <!--Footer Top end-->

    <!--Footer bottom start-->
    <div class="footer-bottom section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>Copyright &copy;{{ year }} <a href="#">SuperDoor.ng</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom end-->

</footer>