<aside id="sidebar" class="sidebar c-overflow mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar">
        <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside"
             tabindex="0">
            <div id="mCSB_1_container"
                 class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y mCS_x_hidden mCS_no_scrollbar_x"
                 style="position: relative; top: 0px; left: 0px; width: 268px;" dir="ltr">
                <ul class="main-menu">
                    {% if customer %}
                         <li>
                                <a href="{% url 'index' %}"><i class="fa fa-plus-circle"></i> Create Order </a>
                            </li>
                        <li class="active">
                            <a href="{% url 'order' %}"><i class="fa fa-cart-arrow-down"></i> My Orders</a>
                        </li>
                    {% else %}
                        <li {% if request.resolver_match.kwargs.which == 'order' %}class="active"{% endif %}>
                            <a href="{% url 'sales' which='order' %}"><i class="fa fa-shopping-cart"></i> Orders</a>
                        </li>

                        <li {% if request.resolver_match.kwargs.which == 'door' %}class="active"{% endif %}>
                            <a href="{% url 'sales' which='door' %}"><i class="fa fa-door-closed"></i> Doors</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </aside>
